<?xml version="1.0" encoding="UTF-8"?><manifest android:installLocation="auto" 
	android:versionCode="1" 
	android:versionName="0.0.0" package="com.billionav.navi.cn.Luxgen" xmlns:android="http://schemas.android.com/apk/res/android">
 
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19"/>
 	<!--
 	<uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />
  -->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.usb.accessory"/>
	<uses-library android:name="com.android.future.usb.accessory" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="pioneer.permission.appradio.ADVANCED_APPMODE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
	<uses-permission android:name="android.permission.WRITE_CALENDAR"/>

    <permission android:name="pioneer.permission.appradio.ADVANCED_APPMODE"/> 	
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- 
    <application android:configChanges="locale" android:debuggable="true" android:icon="@drawable/navicloud_and_002b" android:label="Navigation" android:name="com.billionav.navi.app.AndroidNaviAPP" android:theme="@style/Theme">
     -->
    <application android:configChanges="locale" android:debuggable="true" android:icon="@drawable/navicloud_and_002b" android:label="Navigation" android:name="com.billionav.navi.app.AndroidNaviAPP" android:theme="@style/Theme">
        <meta-data android:name="com.amap.api.v2.apikey" android:value="4c7d4199d717d5d2439926b284b6ad79"/>
        <meta-data android:name="language" android:value="cn"/>
        <meta-data android:name="edition" android:value="luxgen"/>
        <activity android:name="com.billionav.navi.naviscreen.debug.ADT_Debug_LogSetting"/>
        <activity android:name="com.billionav.navi.naviscreen.debug.ADT_Debug_MainMenu"/>
        <activity android:name="com.billionav.navi.naviscreen.debug.ADT_Debug_LogRunSetting"/>
        <activity android:name="com.billionav.navi.naviscreen.debug.ADT_Debug_CradleSetting"/>
        <activity android:name="com.billionav.navi.naviscreen.debug.ADT_Debug_Sensor"/>
        <activity android:name="com.billionav.navi.naviscreen.debug.ADT_Debug_PerformanceTest"/>
        <activity android:name="com.billionav.navi.naviscreen.debug.ADT_Debug_SIMInfo"/>
        <activity android:name="com.billionav.navi.naviscreen.debug.ADT_Vehicle_Adjust"/>
        <activity android:name="com.billionav.navi.naviscreen.debug.ADT_Debug_MyActoActivity"/>
        <activity android:name="com.billionav.navi.naviscreen.debug.ADT_Settings_Debug_IRDR"/>
        <activity android:name="com.billionav.navi.naviscreen.debug.ADT_Debug_FileLog"/>
        
        <activity android:name="com.billionav.navi.naviscreen.open.ADT_Openning"/>
        <activity android:name="com.billionav.navi.naviscreen.open.ADT_Opening_Disclaimer"/>
        
        <activity android:name="com.billionav.navi.naviscreen.dest.ADT_Route_Detail"/>
        <activity android:name="com.billionav.navi.naviscreen.dest.ADT_Overflow_Menu"/>
        <activity android:name="com.billionav.navi.luxgenbranch.naviscreen.dest.ADT_Top_Menu_Luxgen"/>
        <activity android:name="com.billionav.navi.luxgenbranch.naviscreen.dest.ADT_Openning_Luxgen"/>
        
        <activity android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenSize|fontScale" android:name="com.billionav.navi.naviscreen.map.ADT_Map_Illust"/>
        <activity android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenSize|fontScale" android:name="com.billionav.navi.naviscreen.map.ADT_Main_Map_Navigation"/>
        <activity android:name="com.billionav.navi.naviscreen.map.ADT_TouchPointList"/>
        <activity android:name="com.billionav.navi.naviscreen.map.ADT_AR_Main"/>
        <activity android:name="com.billionav.navi.naviscreen.map.ADT_AR_Main_Tip"/>
        <activity android:name="com.billionav.navi.naviscreen.map.ADT_DR_Main"/>
        <activity android:name="com.billionav.navi.naviscreen.arrun.ADT_AR_List"/>
        <activity android:name="com.billionav.navi.naviscreen.arrun.ADT_AR_List_Delete"/>
        
        <activity android:name="com.billionav.navi.naviscreen.favorite.ADT_Favorite"/>
        <activity android:name="com.billionav.navi.naviscreen.favorite.ADT_Favorite_Delete"/>
        <activity android:name="com.billionav.navi.naviscreen.favorite.ADT_Favorite_Pic_Broser"/>
        <activity android:name="com.billionav.navi.naviscreen.favorite.ADT_Favorite_Detail"/>
        <activity android:name="com.billionav.navi.naviscreen.favorite.ADT_Favorite_CheakMap"/>
        
        <activity android:name="com.billionav.navi.naviscreen.download.ADT_Download_Map"/>
        <activity android:name="com.billionav.navi.naviscreen.download.ADT_Download_Map_Delete"/>
        <activity android:name="com.billionav.navi.naviscreen.download.ADT_Transfer_Activity"/>
        
        <activity android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|orientation|screenSize|fontScale" android:name="com.billionav.navi.naviscreen.srch.ADT_Srch_Map"/>
        <activity android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|navigation|orientation|screenSize|fontScale" android:name="com.billionav.navi.naviscreen.srch.ADT_Srch_List"/>
        <activity android:name="com.billionav.navi.naviscreen.srch.ADT_Srch_Detail"/>
        <activity android:name="com.billionav.navi.naviscreen.srch.ADT_Srch_InfoEdit"/>
        <activity android:name="com.billionav.navi.naviscreen.srch.ADT_Srch_Result"/>
        <activity android:name="com.billionav.navi.naviscreen.srch.ADT_POI_Main"/>
        <activity android:name="com.billionav.navi.naviscreen.srch.ADT_POI_AddGenreList"/>
        <activity android:name="com.billionav.navi.naviscreen.srch.ADT_POI_Result"/>
        <activity android:name="com.billionav.navi.naviscreen.srch.ADT_POI_List"/>
        <activity android:name="com.billionav.navi.naviscreen.srch.ADT_Srch_Area_Select"/>

        <activity android:name="com.billionav.navi.naviscreen.photo_edit.ADT_Photo_Edit"/>
        <activity android:name="com.billionav.navi.naviscreen.photo_edit.ADT_Photo_Edit_Camera"/>
        <activity android:name="com.billionav.navi.naviscreen.photo_edit.ADT_Photo_Album"/>
        <activity android:name="com.billionav.navi.naviscreen.photo_edit.ADT_Photo_Browser"/>
        
        <activity android:name="com.billionav.navi.naviscreen.route.ADT_Route_Main"/>
        <activity android:name="com.billionav.navi.naviscreen.route.ADT_Route_PointMap"/>
        <activity android:name="com.billionav.navi.naviscreen.route.ADT_Route_Calculating"/>
        <activity android:name="com.billionav.navi.naviscreen.route.ADT_Route_Profile"/>
        <activity android:name="com.billionav.navi.naviscreen.route.ADT_Route_WaypointEdit"/>
        <activity android:name="com.billionav.navi.naviscreen.route.ADT_Route_DetailedInfo"/>
        
        <activity android:name="com.billionav.navi.naviscreen.setting.ADT_Settings_Main"/>
        <activity android:name="com.billionav.navi.naviscreen.setting.ADT_Setting_Bluetooth"/>
        <activity android:name="com.billionav.navi.naviscreen.setting.ADT_Setting_Cradle"/>
        <activity android:name="com.billionav.navi.naviscreen.setting.ADT_Setting_Cradle_Info"/>
        <activity android:name="com.billionav.navi.naviscreen.setting.ADT_Schedule_Activity"/>
        <activity android:name="com.billionav.navi.naviscreen.setting.ADT_Schedule_PointMap"/>
        <activity android:name="com.billionav.navi.naviscreen.setting.ADT_Schedule_Result"/>
        <activity android:name="com.billionav.navi.naviscreen.setting.ADT_Schedule_List"/>
        <activity android:name="com.billionav.navi.naviscreen.setting.ADT_Notification_Disp_Activity"/>
        <activity android:name="com.billionav.navi.naviscreen.setting.ADT_Settings_AccountSynchronous_More">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:host="OAuthActivity" android:scheme="weibo4andriod"/>
                <data android:host="TimeLineActivity" android:scheme="weiboandroidsdk"/>
            </intent-filter>
        </activity> 
        <service android:name="com.billionav.navi.sync.AppLinkService"></service>
        <service android:name="com.billionav.navi.service.NotificationService" android:process=":service">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            
        </service>
        <receiver android:name="com.billionav.navi.service.BTStatusReceiver"> 
            <intent-filter>
                <action android:name="com.billionav.navi.btstatusservice"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>   
        <receiver android:name="com.billionav.navi.service.NotificationService" android:process=":service">    
            <intent-filter>    
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>    
            </intent-filter>    
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>   
        <receiver android:name="com.billionav.navi.service.serviceHelper" android:process=":service">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.billionav.navi.naviscreen.report.ADT_report_main"/>
        <activity android:name="com.billionav.navi.naviscreen.report.ADT_report_detail"/>
        
        <activity android:name="com.billionav.navi.naviscreen.tools.ADT_Tools_Main"/>
        <activity android:name="com.billionav.navi.naviscreen.tools.ADT_Eco_Settings"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.billionav.navi.naviscreen.tools.ADT_Eco_Info">
        </activity>
        <activity android:name="com.billionav.navi.naviscreen.tools.ADT_Eco_Compare"/>
        <activity android:name="com.billionav.navi.naviscreen.tools.ADT_Driving_Behavior"/>
        <activity android:name="com.billionav.navi.naviscreen.tools.ADT_Driving_Behavior_Myreport"/>
        
        <activity android:name="com.billionav.navi.naviscreen.misc.ADT_Voice_Recognition"/>
        
        <activity android:name="com.billionav.navi.naviscreen.auth.ADT_Auth_Agreement"/>
        <activity android:name="com.billionav.navi.naviscreen.auth.ADT_Auth_Lience"/>
        <activity android:name="com.billionav.navi.naviscreen.auth.ADT_Auth_Login"/>
        <activity android:name="com.billionav.navi.naviscreen.auth.ADT_Auth_Register"/>
        <activity android:name="com.billionav.navi.naviscreen.auth.ADT_Auth_ChangePassword"/>
        <activity android:name="com.billionav.navi.naviscreen.auth.ADT_Auth_ForgetPassword"/>
        <activity android:name="com.billionav.navi.component.dialog.CustomSelectableDialog" android:theme="@style/dialog">
        </activity>
        <activity android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenSize|fontScale" android:name="com.billionav.navi.naviscreen.NaviViewManager" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN">
                </action>

                <category android:name="android.intent.category.LAUNCHER">
                </category>
           <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"/>
           </intent-filter>
	     <meta-data
             android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
             android:resource="@xml/accessory_filter"/> 
        </activity>
    <!--    <activity android:name="com.smartdevicelink.transport.USBAccessoryAttachmentActivity">
          <intent-filter>
              <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"/>
          </intent-filter>
          <meta-data
             android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
             android:resource="@xml/accessory_filter"/>
        </activity> -->
        <service android:name="com.billionav.supsys.SupportService"/>
<!-- 		<receiver android:name="com.billionav.navi.luxgenbranch.setActivityReplaceReceiver">
		       <intent-filter>
                <action android:name="setReplaceActivitys" >
                </action>
               </intent-filter>
		</receiver>
 -->        <receiver android:label="NetworkConnection" android:name="com.billionav.navi.net.PConnectReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE">
                </action>
            </intent-filter>
        </receiver>

		<activity android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenSize|fontScale" android:launchMode="singleTask" android:name="com.billionav.navi.naviscreen.open.ADT_IntentPointActivity" android:theme="@style/Theme.Translucent">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:host="maps.google.com" android:path="/maps" android:scheme="http"/>
				<data android:host="maps.google.co.jp" android:path="/maps" android:scheme="http"/>
				<data android:host="maps.google.com.hk" android:path="/maps" android:scheme="http"/>
			</intent-filter>
			<intent-filter>
		        <action android:name="android.intent.action.VIEW"/>
		        <category android:name="android.intent.category.DEFAULT"/>
		        <data android:scheme="geo"/>
		   </intent-filter>
			
		</activity>
	    <activity  android:name="com.billionav.navi.intentOpen.geoIntentActivity">
		    <intent-filter>
		         <action android:name="android.intent.action.VIEW"/>
		         <category android:name="android.intent.category.DEFAULT"/>
		         <data android:scheme="geo"/>
		    </intent-filter>
		</activity>
		<activity android:name="com.billionav.navi.intentOpen.RouteIntentActivity">
		    <intent-filter>
		         <action android:name="android.intent.action.VIEW"/>
		         <category android:name="android.intent.category.DEFAULT"/>
		         <data android:scheme="route"/>
		    </intent-filter>
		</activity>
		
		<activity android:name="com.billionav.navi.intentOpen.NaviIntentActivity">
		    <intent-filter>
		         <action android:name="com.suntec.iAuto.btspp.navibt2app"/>		 
		         <category android:name="android.intent.category.DEFAULT"/> 
		         <data android:mimeType="*/*"/>      
		    </intent-filter>
		</activity>
		<activity android:exported="true" android:name="com.billionav.navi.intentOpen.RouteExtraIntentAcitivty">
		    <intent-filter>
		         <action android:name="android.intent.action.VIEW"/>
		         <category android:name="android.intent.category.DEFAULT"/>
		         <data android:scheme="luxgen_route"/>
		    </intent-filter>
		</activity>

        <activity android:name="com.billionav.navi.component.dialog.DialogActivity" android:theme="@style/Theme.CustomDialog">
        </activity>
        
        <activity android:name="com.billionav.navi.naviscreen.version.ADT_Version_CheckVersionActivity"/>
        <activity android:name=".naviscreen.setting.ADT_Setting_HUD_LogoMark"/>
    </application>

</manifest>
